body{
    margin: 0px;
    padding: 20px 0;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.header{
    padding: 0 10px;
    color:  #666;
    background-color: #eeeeee;
    text-align: center;
    height: 48.4px;
    line-height: 48.4px;
}
.footer{
    padding: 5px;
    font-style: italic;
    font-size: small;
    text-align: center;
}
#coords{
    padding: 20px;
    text-align: center;
}
#mapid {
    margin: 0;
    height: 500px; 
}